* { box-sizing: border-box; margin: 0; padding: 0 }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Work Sans', sans-serif;
}

p {
  font-family: 'Work Sans', sans-serif;
  padding: 16px 0;
}

#jumbotron {
  // demo#dee8e6 d9eadf
  background-color: #dee8e6;
  width: 100%;
  height: 100vh;
  padding: 80px;
  .heading-container {
     margin: 150px;
     text-align: center;
  }
}

#demo {
  width: 100%;
  height: 100vh;
  padding: 100px;
  h1 {
    text-align: center;
  }
}


#contributors {
  background-color: #dee8e6;
  width: 100%;
  height: 100vh;
  padding: 100px;
  h1 {
    text-align: center;
    padding: 30px auto;
  }
  .bio-container {
    padding: 50px 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }
  .single-contributor {
    padding: 25px;
    grid-column: span 2;
    &:last-child:nth-child(3n - 1) {
        grid-column-end: -2;
    }
    &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
    }
    p {
      text-align: center
    }
  }
  img {
    border-radius: 50%;
    width: 60px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

footer {
  svg {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 28px;
  }
  p {
    text-align: center;
    padding-top: 0;
    font-size: 12px;
  }
}


@media all and (max-width: 1024px) {

}

@media all and (max-width: 839px) {
  #jumbotron .heading-container {
    margin: 100px 0px;
  }
  #contributors {
    height: 1000px;
  }
  #contributors .bio-container {
    display: block;
    padding: 0;
    margin: 0;
  }
}

@media all and (max-width: 480px) {

}
