* { box-sizing: border-box; margin: 0; padding: 0 }

h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: 'Work Sans', sans-serif;
}

p {
  font-family: 'Work Sans', sans-serif;
  padding: 16px 0;
}

#jumbotron {
  background-color: #dee8e6;
  width: 100%;
  height: 100vh;
  padding: 120px;
  .heading-container {
     margin: 110px;
     text-align: center;
     h1 {
       padding-top: 15px;
       font-size: 50px;
     }
  }
}

#demo {
  width: 100%;
  padding: 100px;
  background-color: #f5f5f5;
  h1 {
    text-align: center;
  }
  #githubStar {
    text-align: center;
    .github-button {
    }
  }
}

#aboutWrapper {
  margin: 80px;
  .about-container {
    display: flex;
    justify-content: space-evenly;
    margin: 100px auto;
    .about-details {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        text-decoration: underline;
        text-decoration-color: #ff6c6c;
      }
    }
    .about-details.left {
      margin-left: 2rem;
    }
    .about-details.right {
      margin-right: 2rem;
    }
    .about-image > img {
      max-width: 520px;
    }
  }
}


#contributors {
  background-color: #dee8e6;
  width: 100%;
  height: 100vh;
  padding: 100px;
  h1 {
    text-align: center;
    padding: 30px auto;
  }
  .bio-container {
    padding: 50px 200px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
  }
  .single-contributor {
    padding: 25px;
    grid-column: span 2;
    &:last-child:nth-child(3n - 1) {
        grid-column-end: -2;
    }
    &:nth-last-child(2):nth-child(3n + 1) {
        grid-column-end: 4;
    }
    a {
      color: black;
      text-decoration: none;
      &:visited {
        color: black;
      }
      &:hover {
        text-decoration: underline;
        text-decoration-color: #ff6c6c;
      }
    }
    p {
      text-align: center
    }
  }
  img {
    border-radius: 50%;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

footer {
  svg {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 28px;
  }
  p {
    text-align: center;
    padding-top: 0;
    font-size: 12px;
  }
}

@media all and (max-width: 839px) {
  #jumbotron { padding: 60px }
  #jumbotron .heading-container {
    margin: 130px 0px;
  }
  #demo { padding: 20px }
  #aboutWrapper {
    margin: 0px;
    .about-container {
      display: flex;
      flex-direction: column;
      .about-details {
        width: 100%;
        margin: 0px;
        padding: 0px;
      }
      .about-image {
        img { max-width: 340px }
      }
    }
  }

  #aboutWrapper .about-container .about-details.left {
    margin-top: 1rem;
    margin-left: 0rem;
    text-align: center;
  }

  #aboutWrapper .about-container .about-details.right {
    margin-top: 1rem;
    margin-right: 0rem;
    text-align: center;
  }

  #contributors {
    height: 1200px;
  }
  #contributors .bio-container {
    display: block;
    padding: 0;
    margin: 0;
  }
}
